@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


:root {

    /* Variables de colores */
    --color-principal: #fd472c;
    --color-header: rgba(185, 51, 31, 0.9);
    --color-comilla-bg: #fdd3cc;
    --color-search: rgb(255, 85, 59, .8);
    --color-search-texto: rgb(255, 237, 234);


    /* Variables de tamaño de fuente INICIO*/
    --font-size-titulo: clamp(2.93rem, 4.77vw + 1.74rem, 5.55rem);

    /* Variables de tamaño de fuente TITULO SECCIONES*/
    --font-size-seccion: clamp(2.44rem, 2.63vw + 1.78rem, 3.89rem);
    
    /* Variables de tamaño de fuente INICIO*/
    --font-size-parrafo: clamp(1.46rem, 0.97vw + 1.22rem, 2rem);

}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

.margin__general {
    margin: 0 15%;
}

main {
    background-color: rgb(245, 245, 245);
    padding-bottom: 100px;
}

/* ---------- SECCIONES DE PAGINAS ----------*/
.sec__breadcrumb {
    padding: 2rem 10%;
    min-width: 100px;
    background-color: rgb(255, 255, 255, .8);
    box-shadow: 1px 1px 5px rgb(0, 0, 0, .2);
}

.breadcrumb-inicio{
    text-decoration: none !important; 
    color: rgba(0, 0, 0, 1) !important;
}
/* FIN */


/* ---------- TIPOS DE PROPIEDADES SECCIONES ----------*/
.tipo_propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.tipo_propiedad_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25px;
}

.tipo_propiedad_card img{
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}
/* FIN */



/* ---------- VALORES GENERALES ----------*/
.titulo__secciones {
    font-size: var(--font-size-seccion);
    margin-bottom: 20px;
}

.parrafo__secciones {
    /* font-size: 18px; */
    font-size: var(--font-size-parrafo);
}
/* FIN */


/* ---------- SLIDER ----------*/
.slide-content {
    margin: 40px 25px;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.swiper-button-next,
.swiper-button-prev{
    color: rgb(0, 0, 0) !important;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, .2);
    background-color: #fff;
    transition: color .3s ease;
    width: 44px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    font-size: 25px !important;
}

.swiper-button-prev:hover,
.swiper-navbtn:hover {
    box-shadow: 1px 1px 10px rgb(0, 0, 0, .5);
}

/* FIN */



/* ---------- NAV-BAR ----------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 7vw;
    width: 100%;
    transition: .7s;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header.abajo {
    padding: 25px 7vw;
    background-color: var(--color-header);
}

.header__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
}

.icon-search {
    align-self: stretch;
    display: grid;
    place-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    border: none;
    background-color: var(--color-search);
}

.bi-search { 
    font-size: 15px;
    color: var(--color-search-texto);
}

.input-search {
    font-size: 13px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: var(--color-search-texto);
    background-color: var(--color-search);
    caret-color: var(--color-search-texto);
}

.input-search::placeholder {
    color: var(--color-search-texto);
}


.logo {
    height: 25px;
}

.logo > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.nav__lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav__lista > li {
    position: relative;
    margin: 0 2rem;
    list-style: none;
}

.nav__lista > li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    border-radius: 50px;
    background-color:#fff;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
}

.nav__lista > li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.enlace {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Ropa Sans', sans-serif;
}

.material-icons {
    font-size: 32px !important;
}


.navbar-burger {
    display: none !important;
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
  

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.navbar-menu {
    position: static;
    translate: 0 0;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    height: 100%;
}


  
body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

/* FIN */


/* ---------- HERO ----------*/
.context {
    width: 100%;
    height:100vh;
    position: relative;
    background-image: linear-gradient( to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo {
    display: inline-block;
    width: 40%;
    position:absolute;
    left: 10%;
    top: 30%;
    text-align: center;
    color: #fff;
    text-align: start;
}

.titulo h1 {
    font-size: var(--font-size-titulo);
    margin-bottom: 30px;
}

.titulo p {
    width: 80%;
    font-size: 16px;
    margin-bottom: 30px;
}   

.titulo button {
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 255, 255, .2);
    border: 1px solid rgb(255, 255, 255, .8);
    color: rgb(255, 255, 255, .9);
    font-size: 15px;
}

.titulo button:hover {
    background-color: rgb(255, 255, 255, .3);
}
/* FIN */


/* ---------- SECCION NOSOTROS ----------*/

.section__nosotros {
    text-align: center;
    margin: 0 9%;
    padding: 160px 0 90px;
}

.nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.nosotros__card {
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.nosotros-svg {
    display: inline-block;
    height: 80px;
}

.nosotros__titulo {
    font-size: 20px;
    margin: 10px 0;
}

.nosotros__parrafo {
    font-size: 15px;
}

/* FIN */

/* ---------- SECCION GRID IMAGENES ----------*/
.grid__categorias {
    text-align: center;
    margin: 0 3%;
    padding: 100px 0;
}

.grid__categorias__img {
    display: grid;
    grid-template-columns: 1fr 1fr 35%  1fr;
    grid-auto-rows: 300px;
    gap: 25px;
    margin-top: 80px;
}

.grid__categorias__img--content{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.grid__categorias__img--content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid__img--1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

.grid__img--2 {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
}
/* FIN */


/* ---------- SECCION PROPIEDADES ----------*/

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px 0 60px;
}

.productos__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: calc(390px * 3 + 80px);
    margin: 80px auto;
}

.productos__card {
    margin: auto;
    width: 100%;
    max-width: 390px;
    text-align: start;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, .2);
}

.productos__card__img {
    height: 280px;
    width: 100%;
}

.productos__card__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productos__card__desc {
    margin: 15px;
}
.productos__card__desc__titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.productos__card__desc__titulo h3{
    font-size: 22px;
}

.venta {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-right: 0;
    padding: 2px 10px;
    color: var(--color-principal);
    background-color: var(--color-comilla-bg);
}

.bi-geo-alt-fill {
    font-size: 15px;
}

.productos__card__precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.productos__card__precio h3 { 
    font-size: 20px;
}

.productos__card__desc--ubicacion {
    font-size: 16px;
    margin-left: 5px;
}


.btn-productos {
    text-decoration: none;
    background-color: var(--color-principal);
    border:1px solid var(--color-principal);
    padding: 3px 12px;
    border-radius: 5px;
    color: #fff;    
    font-size: 13.5px;
}

.btn-productos-explorar {
    background-color: transparent;
    text-decoration: none;
    color: var(--color-principal);
    border:1px solid var(--color-principal);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-productos:hover {
    background-color: transparent;
    color: var(--color-principal);
}


/* FIN */


/* ---------- SECCION NOSOTROS ----------*/
.testimonios {
    text-align: center;
    margin: 0 5%;
    padding: 140px 0px;
}

.seccion__testimonio__card {
    text-align: start;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 30px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, .2);
}

.bi-comilla {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: var(--color-comilla-bg);
}

.seccion__testimonio__card > p {
    font-size: 13px;
    margin: 20px 0;
}

.seccion__testimonio__card__persona {
    display: flex;
    align-items: center;
}

.seccion__testimonio__card__persona__img {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.seccion__testimonio__card__persona__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.seccion__testimonio__card__persona__texto h4{
    font-size: 14px;
}

.seccion__testimonio__card__persona__texto p {
    font-size: 10px;
}


/* FIN */


/* ---------- SECCION LOGOS ----------*/
.seccion__logos {
    margin: 0 15%;
}

.seccion__logos__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 40px;
    margin: auto;
}

.seccion__logos__content img {
    height: 35px;
    margin: auto;
}
/* FIN */


/* ---------- FOOTER ----------*/
.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    color: grey;
}

.footer__logo {
    width: 200px;
}

.footer__logo p {
    margin-top: 18px;
    font-size: 13px;
    line-height: 20px;
}

.link{
    text-decoration: none;
    color: gray;
    font-family: 'Ropa Sans', sans-serif;
}

.footer__lista li{
    margin-bottom: 5px;
}

.footer__lista li:nth-child(1),
.footer__contacto p {
    margin-bottom: 20px;
    color: #000;
    font-weight: 700;
}

.footer__lista,
.footer__contacto {
    list-style: none;
    font-size: 16px;
    width: fit-content;
    min-width: 140px;
    margin-bottom: 0 !important;
    padding-left: 0 !important;

}

.link:hover {
    color: var(--color-principal);
}   

.footer__contacto__list {
    display: flex;
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.bi-instagram,
.bi-facebook,
.bi-twitter,
.bi-youtube {
    font-size: 20px;
    margin-right: 15px;
}
/* FIN */





@media only screen and (max-width: 425px){

    .logo{
        height: 20px;
    }

    header {
        padding: 15px 7vw !important;
    }

    .titulo {
        text-align: center;
        left: auto;
        padding: 20px;
    }

    .titulo p {
        width: fit-content;
    }

    .productos__grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 80px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 955px){
    .navbar-burger {
        display: grid !important;
        place-items: center;
    }

    .nav__lista {
        align-items: flex-start !important;
        flex-direction: column !important;
        gap: 30px;
        margin-top: 100px !important;
    }

    
    .header__input {
        display: none !important;
    }

    .navbar-menu {
        position: fixed;
        z-index: 3;
        width: 30%;
        min-width: fit-content;
        top: 0;
        left: 0;
        translate: -100% 0;
        background-color: rgba(185, 51, 31, 0.9);
        visibility: hidden;
        transition: translate 0.3s;
    }
}



@media only screen and (max-width: 768px){


    .titulo {
        width: fit-content;
    }

    .productos__grid {
        grid-template-columns: 1fr;
    }

    .productos__card {
        margin: 0;
        min-width: 100%;
        text-align: start;
    }
}


@media only screen and (min-width: 1161px) and (max-width: 1200px){ 
    .grid__categorias__img {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }

    .grid__img--1 {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }
    
    .grid__img--2 {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }
    .grid__img--3 {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
    }
}



@media only screen and (max-width: 1160px){ 
    .grid__categorias__img {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .grid__img--1,
    .grid__img--2,
    .grid__img--3 {
        grid-row: auto;
        grid-column: auto;
    }
    
    /* GRID DE NUEVOS HORIZONTES  */
    .grid__categorias {
        margin: 0 7%;
    }

    /* FOOTER  */
    .footer {
        margin: 0;
    }

    .productos {
        margin: 0 5%;
    }    
}


@media only screen and (min-width: 768px) and (max-width: 911px) {

    .productos__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

